@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$lightBlue: #0789c4;
$button-color:#03D0DB;
$color-letter-nav:#f8f9fa;

body{
	font-family: 'Open Sans', sans-serif;
}
.jumbotron{
	background:white;
	margin-bottom:0px;
}

div .container>img{
	width:300px;
	height: 90px;
	margin: auto;
}

nav{
	background:$lightBlue;
	 font-size:1rem;
}
.nav-link {
    color: rgb(215, 218, 220);
}
footer{
	background:$lightBlue;
	color: $color-letter-nav;
}
footer div ul li a{
	color:$color-letter-nav;
	text-decoration:none;
}
footer div ul li a:hover{
text-decoration-line: none;
    color: $color-letter-nav;
}
.in-button{
	margin-left:4px;
	margin-right:4px;
	color: $color-letter-nav !important;
}

.navbar-light .navbar-nav .nav-link {
    color: $color-letter-nav
}
footer div {
	padding-left: 3rem;
    padding-right: 3rem;
}



