@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$lightBlue: #B1CCE1;

body{
	font-family: 'Open Sans', sans-serif;
}
#af-nav{
    display: flex;
    justify-content: center;
}
#af-nav ul{
	margin-top: 1rem;
	margin-bottom: 0rem;
}
#af-nav ul li{
	display: inline;
	text-decoration:none;
	margin-right:1rem;
	font-size: 1.5rem;
}

nav{
	background:$lightBlue;
	 font-size:1rem;
}
footer{
	background:$lightBlue;
	color: black;
}
footer div ul li a{
	color:black;
	text-decoration:none;
}
footer div ul li a:hover{
text-decoration-line: none;
    color: black;
}


